body {
    background-image: url('./images/backgroundSpecialForces.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.login-input{
    
}